#html5 {
    background: url('../img/html5.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#angular {
    background: url('../img/angular.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#react {
    background: url('../img/react.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#js {
    background: url('../img/javascript.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#css3 {
    background: url('../img/css3.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#git {
    background: url('../img/git.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#jQuery {
    background: url('../img/jquery.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#postgres {
    background: url('../img/postgres.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#node {
    background: url('../img/node.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#cpp {
    background: url('../img/cpp.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#gulp {
    background: url('../img/gulp.png') no-repeat;
    background-size: contain;
    background-position: center;
}
#bootstrap {
    background: url('../img/bootstrap.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.skills-icon {
    width: 125px;
    height: 125px;
    margin: auto;
    opacity: 0.25;
}

.service-box:hover {
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

.skills-icon:hover {
    opacity: 1;
}

#skills {
    padding: 50px;
}
